
body {
    background-color: #7D9B99;
	margin:50px 0px; padding:0px;
	text-align:center;
}

table {
    border-spacing: 25px;
}
.container {
    position: relative;
}
.title {
    position: absolute;
    color: #EFF4EE;
    top: 50px;
    right: 20px;
    font-size: 33px;
    z-index: 2;
}
.page { 
    margin: 2em auto;
    padding: 0.8em;
    text-align: left;
    color: #EFF4EE;
}
.footer {
    padding: 0.6em;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}
.logged {
    padding: 18px;
    border: 8px solid #FDE1CC;
    vertical-align: top;
}
.post {
	padding:18px;
    width: 650px;
	border-top: 1px;
	border-bottom:1px;
	border-left: 1px;
    border: 7px solid #FDE1CC;
}
