<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>The Kite Eating Tree</title> 
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">  
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <img src="{{ header }}">
      </div>
    </header>
    <div class="page center">
      {% block body %}

      {% endblock %}
    </div>
    <div class="footer center">
      {% block footer -%}
        {% include "footer.html" %}
      {% endblock %}
    </div>
  </body>
</html>
