<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>The Kite Eating Tree</title> 
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">  
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="container center">
        <div class='title'>{{ title }}</div>
        <img src="{{ url_for('static', filename='images/header.png') }}">
      </div>
    </header>
    <div class="page center">
      {% if not logged_in %}
        {% include "login.html" %}
      {% else %}
        {% block body %}
        {% endblock %}
      {% endif %}
    </div>
    <div class="footer center">
      {% block footer -%}
        {% include "footer.html" %}
      {% endblock %}
    </div>
  </body>
</html>
