<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>The Kite Eating Tree</title> 
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
      <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/notifications.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class='title'>{{ title }}</div>
      <img src="{{ url_for('static', filename='images/header.jpg') }}" width=1024px>
    </div>
    <div class="page center">
      {% if error %}<div class='error'>{{ error }}</div>{% endif %}
      {% if not (logged_in or (request.url_rule.endpoint == 'register')) %}
        {% include "login.html" %}
      {% else %}
        <table class="center">
          <tr>
            <td colspan=2>
              <div class="menu">
                <div class="item"><a href="/">home</a></div> | <div class="item"><a href="/post/create">create post</a></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="postmain">
              {% block body %}
              {% endblock %}
            </td>
            {% if logged_in %}
            <td class="logged">
              <p>Logged in as {{ username }}</p>
              <a href='/logout'><button type="button">Sign Out</button></a>
            </td>
            {% endif %}
          </tr>
        </table>
      {% endif %}
    </div>
    <div class="footer center">
      {% block footer -%}
        {% include "footer.html" %}
      {% endblock %}
    </div>
  </body>
</html>
