{% extends "layout.html" %}
{% block body %}

    <table class="posts_container">
      <tr>
        <td class="avatar">ChrisWood</td>
        <td class="message">message dsasljdkfh laskjdfh lj lkjasdfhljkhsdf ljsdafhj kjdhjkhsdf jklashfdl ajdsh jdsahds skdljhf fdhj dfhkjdhfdf 
dlfjk lkdjsdl k  lfsdj ldfkj ldkfsjsldjkfslkjdflksjflak;j;alskjfd 
asjkh kjdsh fksjdhfksjh fhdj hdjhfjdf dfd.</td>
      </tr>
      <tr>
        <td class="avatar">ChrisWood</td>
        <td class="message">message dsasljdkfh laskjdfh lj lkjasdfhljkhsdf ljsdafhj kjdhjkhsdf jklashfdl ajdsh jdsahds skdljhf fdhj dfhkjdhfdf 
dlfjk lkdjsdl k  lfsdj ldfkj ldkfsjsldjkfslkjdflksjflak;j;alskjfd 
asjkh kjdsh fksjdhfksjh fhdj hdjhfjdf dfd.</td>
      </tr>
    </table>

{% endblock %}
