{% extends "layout.html" %}
{% block body %}
  <table class="main">
    <tr>
      <td class="post">
        <table class='form'>
          {% from "_formhelpers.html" import render_field %}
          <form method=post action="{{ form_action }}">
            <dl>
              {{ render_field(form.firstname) }}
              {{ render_field(form.lastname) }}
              {{ render_field(form.username) }}
              {{ render_field(form.email) }}
              {% if showpass %}
                  {{ render_field(form.passhash) }}
                  {{ render_field(form.confirm) }}
              {% endif %}
            </dl>
            <input type=submit value=Register>
          </form>
        </table>
      </td>
      <td class="logged">
        <p>Logged in as username</p>
        <button type="button">Sign Out</button>
      </td>
    </tr>
  </table>
{% endblock %}
